:root {
  --lt-colours-light: var(--light) !important;
  --lt-colours-lightgray: var(--lightgray) !important;
  --lt-colours-dark: var(--secondary) !important;
  --lt-colours-secondary: var(--tertiary) !important;
  --lt-colours-gray: var(--outlinegray) !important;
}

h1, h2, h3, h4, h5, h6, ol, ul, thead {
  font-family: Inter;
  color: var(--dark);
  font-weight: revert;
  margin: revert;
  padding: revert;
}

h1:hover > .hanchor, h2:hover > .hanchor, h3:hover > .hanchor, h4:hover > .hanchor, h5:hover > .hanchor, h6:hover > .hanchor, ol:hover > .hanchor, ul:hover > .hanchor, thead:hover > .hanchor {
    opacity: 1;
  }

.hanchor {
  font-family: Inter;
  margin-left: -1em;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  color: var(--secondary);

}

p, ul, text {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--gray);
  fill: var(--gray);
  font-weight: revert;
  margin: revert;
  padding: revert;
}

.mainTOC {
  background: var(--lightgray);
  border-radius: 5px;
  padding: 0.75em 1em;
}

.mainTOC details summary {
  cursor: zoom-in;
  font-family: Inter;
  color: var(--dark);
  font-weight: 700;
}

.mainTOC details[open] summary {
    cursor: zoom-out;
}

#TableOfContents > ol {
  counter-reset: section;
  margin-left: 0em;
  padding-left: 1.5em;
}

#TableOfContents > ol > li {
    counter-increment: section;
  }

#TableOfContents > ol > li > ol {
      counter-reset: subsection;
    }

#TableOfContents > ol > li > ol > li {
        counter-increment: subsection;
      }

#TableOfContents > ol > li > ol > li::marker {
          content: counter(section) "." counter(subsection) "  ";
        }

#TableOfContents > ol > li::marker {
    content: counter(section) "  ";
  }

#TableOfContents > ol > li::marker, #TableOfContents > ol > li > ol > li::marker {
    font-family: Source Sans Pro;
    font-weight: 700;
  }

table {
  width: 100%;
}

img {
  width: 100%;
  border-radius: 3px;
  margin: 1em 0;
}

p>img+em {
  display: block;
  transform: translateY(-1em);
}

sup {
  line-height: 0
}

p, tbody, li {
  font-family: Source Sans Pro;
  color: var(--gray);
  line-height: 1.5em;
}

blockquote {
  margin-left: 0em;
  border-left: 3px solid var(--secondary);
  padding-left: 1em;
  transition: border-color 0.2s ease;
}

blockquote:hover {
    border-color: var(--tertiary);
  }

table {
  padding: 1.5em;
}

td, th {
  padding: 0.1em 0.5em;
}

.footnotes p {
  margin: 0.5em 0;
}

.pagination {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-top: 2em;
  gap: 1.5em;
  justify-content: center;
}

.pagination .disabled {
    opacity: 0.2;
  }

.pagination > li {
    text-align: center;
    display: inline-block;
  }

.pagination > li a {
      background-color: transparent !important;
    }

.pagination > li a[href$="#"] {
      opacity: 0.2;
    }

.section h3 > a {
    font-weight: 700;
    font-family: Inter;
    margin: 0;
  }

.section p {
    margin-top: 0;
  }

article > .meta {
    margin: -1.5em 0 1em 0;
    opacity: 0.7;
  }

/* font-family: Source Sans Pro; */

/* font-weight: 600; */

article a.internal-link {
      text-decoration: none;
      background-color: transparentize(#8f9fa9, 0.85);
      padding: 0 0.1em;
      margin: auto -0.1em;
      border-radius: 3px;
    }

article a.internal-link.broken {
        opacity: 0.5;
        background-color: transparent;
      }

article p {
    overflow-wrap: anywhere;
  }

.tags {
  list-style: none;
  padding-left: 0;
}

.tags .meta > h1 {
      margin: 0;
    }

.tags .meta > p {
      margin: 0;
    }

.tags > li {
    display: inline-block;
    margin: 0.4em 0;
  }

.tags > li > a {
    border-radius: 8px;
    border: var(--outlinegray) 1px solid;
    padding: 0.2em 0.5em;
  }

.tags > li > a::before {
      content: "#";
      margin-right: 0.3em;
      color: var(--outlinegray);
    }

.backlinks a {
  /* font-weight: 600; */
  font-size: 0.9rem;
}

sup > a {
  text-decoration: none;
  padding: 0 0.1em 0 0.2em;
}

a {
  /* font-family: Inter, sans-serif; */
  font-size: 1em;
  /* font-weight: 700; */
  text-decoration: none;
  transition: all 0.2s ease;
  color: var(--secondary);
}

a:hover {
    color: var(--tertiary) !important;
  }

pre {
  font-family: 'Fira Code';
  padding: 0.75em;
  border-radius: 3px;
  overflow-x: scroll;
}

code {
  font-family: 'Fira Code';
  font-size: 0.85em;
  padding: 0.15em 0.3em;
  border-radius: 5px;
  background: var(--lightgray);
}

html {
  scroll-behavior: smooth;
}

html:lang(ar) p, html:lang(ar) h1, html:lang(ar) h2, html:lang(ar) h3, html:lang(ar) article {
      direction: rtl;
      text-align: right;
    }

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  /* overflow-x: hidden; */
  max-width: 100%;
  box-sizing: border-box;

}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

footer {
  margin-top: 4em;
  text-align: center;
}

footer ul {
    padding-left: 0;
  }

hr {
  width: 25%;
  margin: 4em auto;
  height: 2px;
  border-radius: 1px;
  border-width: 0;
  color: var(--dark);
  background-color: var(--dark);
}

.singlePage {
  padding: 4em 30vw;
}

@media all and (max-width: 1200px) {

.singlePage {
    padding: 25px 5vw
}
  }

.page-end {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

@media all and (max-width: 780px) {

.page-end {
    flex-direction: column
}
  }

.page-end > * {
    flex: 1 0 0;
  }

.page-end > .backlinks-container > ul {
      list-style: none;
      padding-left: 0;
    }

.page-end > .backlinks-container > ul > li {
        margin: 0.5em 0;
        padding: 0.25em 1em;
        border: var(--outlinegray) 1px solid;
        border-radius: 5px
      }

.page-end #graph-container {
    border: var(--outlinegray) 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    min-height: 250px;
  }

.page-end #graph-container > svg {
      margin-bottom: -5px;

    }

.centered {
  margin-top: 30vh;
}

article > h1 {
  font-size: 2em;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header > h1 {
    font-size: 2em;
  }

@media all and (max-width: 600px) {

header > nav {
      display: none
  }
    }

header > .spacer {
    flex: 1 1 auto;
  }

header > svg {
    cursor: pointer;
    width: 18px;
    min-width: 18px;
    margin: 0 1em;
  }

header > svg:hover .search-path {
      stroke: var(--tertiary);
    }

header > svg .search-path {
      stroke: var(--gray);
      stroke-width: 2px;
      transition: stroke 0.5s ease;
    }

#search-container {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: scroll;
  display: none;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#search-container > div {
    width: 50%;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
  }

@media all and (max-width: 1200px) {

#search-container > div {
      width: 90%
  }
    }

#search-container > div > * {
      width: 100%;
      border-radius: 4px;
      background: var(--light);
      box-shadow: 0 14px 50px rgba(27, 33, 48, 0.12), 0 10px 30px rgba(27, 33, 48, 0.16);
      margin-bottom: 2em;
    }

#search-container > div > input {
      box-sizing: border-box;
      padding: 0.5em 1em;
      font-family: Inter, sans-serif;
      color: var(--dark);
      font-size: 1.1em;
      border: 1px solid var(--outlinegray);
    }

#search-container > div > input:focus {
        outline: none;
      }

#search-container > div > #results-container .result-card {
        padding: 1em;
        cursor: pointer;
        transition: background 0.2s ease;
        border: 1px solid var(--outlinegray);
        border-bottom: none;
        width: 100%;

        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
        overflow: visible;
        text-transform: none;
        text-align: left;
        background: var(--light);
        outline: none;
      }

#search-container > div > #results-container .result-card:hover, #search-container > div > #results-container .result-card:focus {
          background: rgba(180, 180, 180, 0.15);
        }

#search-container > div > #results-container .result-card:first-of-type {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

#search-container > div > #results-container .result-card:last-of-type {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-bottom: 1px solid var(--outlinegray);
        }

#search-container > div > #results-container .result-card > h3, #search-container > div > #results-container .result-card > p {
          margin: 0;
        }

.search-highlight {
  background-color: #afbfc966;
  padding: 0.05em 0.2em;
  border-radius: 3px;
}

.section-ul {
  list-style: none;
  padding-left: 0;
}

.section-ul > li {
    border: 1px solid var(--outlinegray);
    border-radius: 5px;
    padding: 0 1em;
    margin-bottom: 1em;
  }

.section-ul > li h3 {
      opacity: 1;
      font-weight: 700;
      margin-bottom: 0em;
    }

.section-ul > li .meta {
      opacity: 0.6;
    }

@keyframes dropin {
  0% {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  1% {
    display: inline-block;
    opacity: 0;
    transform: translate(-50%, 40%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 20%);
  }
}

.popover {
  z-index: 999;
  position: absolute;
  width: 20em;
  display: none;
  background-color: var(--light);
  padding: 1em;
  border: 1px solid var(--outlinegray);
  border-radius: 5px;
  transform: translate(-50%, 40%);
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow-wrap: anywhere;
  box-shadow: 6px 6px 36px 0px rgba(0,0,0,0.25);
}

@media all and (max-width: 600px) {

.popover {
    display: none !important
}
  }

.popover.visible {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 20%);
    display: inline-block;
    animation: dropin 0.2s ease;
  }

.popover > h3 {
    font-size: 1rem;
    margin: 0.25em 0;
  }

.popover > .meta {
    margin-top: 0.25em;
    opacity: 0.5;
    font-family: "JetBrains Mono", monospace;
    font-size: 0.8rem;
  }

.popover > p, .popover > a {
    margin: 0;
    font-weight: 400;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }

#contact_buttons ul {
  list-style-type: none;
}

#contact_buttons ul li {
    display: inline-block;
  }

#contact_buttons ul li a {
    padding: 0 1em;
  }

/* Background */

.chroma { color: #f8f8f2; background-color: #282a36; overflow: hidden }

/* Other */

.chroma .x {  }

/* Error */

.chroma .err {  }

/* LineTableTD */

.chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }

/* LineTable */

.chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }

/* LineHighlight */

.chroma .hl { display: block; width: 100%;background-color: #ffffcc }

/* LineNumbersTable */

.chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }

/* LineNumbers */

.chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }

/* Keyword */

.chroma .k { color: #ff79c6 }

/* KeywordConstant */

.chroma .kc { color: #ff79c6 }

/* KeywordDeclaration */

.chroma .kd { color: #8be9fd; font-style: italic }

/* KeywordNamespace */

.chroma .kn { color: #ff79c6 }

/* KeywordPseudo */

.chroma .kp { color: #ff79c6 }

/* KeywordReserved */

.chroma .kr { color: #ff79c6 }

/* KeywordType */

.chroma .kt { color: #8be9fd }

/* Name */

.chroma .n {  }

/* NameAttribute */

.chroma .na { color: #50fa7b }

/* NameBuiltin */

.chroma .nb { color: #8be9fd; font-style: italic }

/* NameBuiltinPseudo */

.chroma .bp {  }

/* NameClass */

.chroma .nc { color: #50fa7b }

/* NameConstant */

.chroma .no {  }

/* NameDecorator */

.chroma .nd {  }

/* NameEntity */

.chroma .ni {  }

/* NameException */

.chroma .ne {  }

/* NameFunction */

.chroma .nf { color: #50fa7b }

/* NameFunctionMagic */

.chroma .fm {  }

/* NameLabel */

.chroma .nl { color: #8be9fd; font-style: italic }

/* NameNamespace */

.chroma .nn {  }

/* NameOther */

.chroma .nx {  }

/* NameProperty */

.chroma .py {  }

/* NameTag */

.chroma .nt { color: #ff79c6 }

/* NameVariable */

.chroma .nv { color: #8be9fd; font-style: italic }

/* NameVariableClass */

.chroma .vc { color: #8be9fd; font-style: italic }

/* NameVariableGlobal */

.chroma .vg { color: #8be9fd; font-style: italic }

/* NameVariableInstance */

.chroma .vi { color: #8be9fd; font-style: italic }

/* NameVariableMagic */

.chroma .vm {  }

/* Literal */

.chroma .l {  }

/* LiteralDate */

.chroma .ld {  }

/* LiteralString */

.chroma .s { color: #f1fa8c }

/* LiteralStringAffix */

.chroma .sa { color: #f1fa8c }

/* LiteralStringBacktick */

.chroma .sb { color: #f1fa8c }

/* LiteralStringChar */

.chroma .sc { color: #f1fa8c }

/* LiteralStringDelimiter */

.chroma .dl { color: #f1fa8c }

/* LiteralStringDoc */

.chroma .sd { color: #f1fa8c }

/* LiteralStringDouble */

.chroma .s2 { color: #f1fa8c }

/* LiteralStringEscape */

.chroma .se { color: #f1fa8c }

/* LiteralStringHeredoc */

.chroma .sh { color: #f1fa8c }

/* LiteralStringInterpol */

.chroma .si { color: #f1fa8c }

/* LiteralStringOther */

.chroma .sx { color: #f1fa8c }

/* LiteralStringRegex */

.chroma .sr { color: #f1fa8c }

/* LiteralStringSingle */

.chroma .s1 { color: #f1fa8c }

/* LiteralStringSymbol */

.chroma .ss { color: #f1fa8c }

/* LiteralNumber */

.chroma .m { color: #bd93f9 }

/* LiteralNumberBin */

.chroma .mb { color: #bd93f9 }

/* LiteralNumberFloat */

.chroma .mf { color: #bd93f9 }

/* LiteralNumberHex */

.chroma .mh { color: #bd93f9 }

/* LiteralNumberInteger */

.chroma .mi { color: #bd93f9 }

/* LiteralNumberIntegerLong */

.chroma .il { color: #bd93f9 }

/* LiteralNumberOct */

.chroma .mo { color: #bd93f9 }

/* Operator */

.chroma .o { color: #ff79c6 }

/* OperatorWord */

.chroma .ow { color: #ff79c6 }

/* Punctuation */

.chroma .p {  }

/* Comment */

.chroma .c { color: #6272a4 }

/* CommentHashbang */

.chroma .ch { color: #6272a4 }

/* CommentMultiline */

.chroma .cm { color: #6272a4 }

/* CommentSingle */

.chroma .c1 { color: #6272a4 }

/* CommentSpecial */

.chroma .cs { color: #6272a4 }

/* CommentPreproc */

.chroma .cp { color: #ff79c6 }

/* CommentPreprocFile */

.chroma .cpf { color: #ff79c6 }

/* Generic */

.chroma .g {  }

/* GenericDeleted */

.chroma .gd { color: #8b080b }

/* GenericEmph */

.chroma .ge { text-decoration: underline }

/* GenericError */

.chroma .gr {  }

/* GenericHeading */

.chroma .gh { font-weight: bold }

/* GenericInserted */

.chroma .gi { font-weight: bold }

/* GenericOutput */

.chroma .go { color: #44475a }

/* GenericPrompt */

.chroma .gp {  }

/* GenericStrong */

.chroma .gs {  }

/* GenericSubheading */

.chroma .gu { font-weight: bold }

/* GenericTraceback */

.chroma .gt {  }

/* GenericUnderline */

.chroma .gl { text-decoration: underline }

/* TextWhitespace */

.chroma .w {  }

.lntd:first-of-type > .chroma {
  padding-right: 0;
}

.chroma code {
  font-family: 'Fira Code' !important;
  font-size: 0.85em;
  line-height: 1em;
  background: none;
  padding: 0;
}

.chroma {
  border-radius: 3px;
  margin: 0;
}

:root {
  --light: #faf8f8;
  --dark: #423832;
  --secondary: #172554;
  --tertiary: #172554;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}

html {
  font-size: 18px;
  background-color: hsl(48,60%,98%);
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}

hr {
  width: auto;
}

p {
  margin-block-start: 0em;
}

.hanchor {
  display: none;
}

.singlePage {
  padding-top: 0px;
}

.singlePage ul {
    margin-top: 0px;
  }

.singlePage ul li {
      margin-bottom: 6px;
    }

.singlePage ul li p {
        margin-block-end: 0px;
      }

.singlePage blockquote {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 24px;
  }

article>.meta {
  margin: 0px 0 1em;
}

.section-li h3 {
    margin-top: 0px;
  }

.section-li p {
    margin-bottom: 0px
  }

a.page-list__page {
  font-weight: normal;
  font-weight: 300;
}

.section-ul>li{
  padding: 1em;
}

article > p.meta {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
  margin-bottom: 2em;
}

p,
ul,
text,
tbody,
li,
article a {
  font-family: 'Inter', sans-serif;
  --tw-text-opacity: 1;
  color: rgb(82 82 91 / var(--tw-text-opacity));
  fill: #52525b;
  font-weight: revert;
  margin: revert;
  padding: revert;
}

article p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    line-height: 1.75rem;
  }

article a {
    font-weight: 600;
    color: #192845;
    transition: all .2s ease-in-out;
    display: inline-block;
    position: relative;
    z-index: 0;
    mix-blend-mode: multiply;
  }

article a.internal-link {
      color: #192845;
      text-decoration: none;
      background-color: none;
      padding: 0 0.1em;
      margin: auto -0.1em;
      border-radius: 3px;

      --mark-color: #f8db75;
      --mark-skew: 0.25em;
      --mark-height: 1.2em;
      --mark-overlap: 0.4em;
    }

article a.internal-link:hover {
        transform: rotate(-1.5deg) scale(1.05);
        display: inline-block;
      }

article a.internal-link {

      margin-inline: calc(var(--mark-overlap) * -1);
      padding-inline: var(--mark-overlap);

      background-color: transparent;
      background-image:
        linear-gradient(to bottom right,
          transparent 50%,
          var(--mark-color) 50%),
        linear-gradient(var(--mark-color),
          var(--mark-color)),
        linear-gradient(to top left,
          transparent 50%,
          var(--mark-color) 50%);
      background-size:
        var(--mark-skew) var(--mark-height),
        calc(100% - var(--mark-skew) * 2 + 1px) var(--mark-height),
        var(--mark-skew) var(--mark-height);
      background-position:
        left center,
        center,
        right center;
      background-repeat: no-repeat;
}

article a.internal-link.broken {
        opacity: 0.5;
        background-color: transparent;
      }

article p {
    overflow-wrap: anywhere;
  }

.header_logo {
  display: inline-block;
  max-width: 500px;
  width: 100%;
  padding-right: 25px;
}

header {
  margin-bottom: 2em;
  z-index: 10000;
  position: relative;
}

header svg {
    transition: all .2s ease-in-out;
  }

header svg:hover {
      transform: scale(1.05);
    }

.header_logo img {
  margin-top: 0px;
  margin-bottom: 0px;
  transition: all .2s ease-in-out;
}

.header_logo img:hover {
    transform: scale(1.05);
  }

#search-container {
  transition: all .2s ease-in-out;
  background-color: hsla(48,60%,98%,0.9);
}

#search-container>div>input {
  padding: 0.75em 1em;
}

html::before {
    content: '';
    border-top: 12px solid #413934;
    z-index: 100000;
    position: relative;
    display: block;
}

#search-bar {
  border-radius: 5em !important;
}

header>svg {
  cursor: pointer;
  width: 18px;
  margin: 0 1em;
  padding: 8px;
  border: 1px solid #4e4e4e5e !important;
  display: inline-block;
  border-radius: 8px;
  position: relative;
  top: 12px;
}

footer {
  margin-top: 2em;
}

.footer {
  border-top: 1px solid var(--outlinegray);
  background-color: #F2F0E5;
  padding: 25px 30vw;
}

@media all and (max-width: 1200px) {

.footer {
    padding: 25px 5vw
}
  }

.page-end {
  padding: 0 30vw 20px;
}

.page-end h3 {
    margin-block-start: 0px;
  }

@media all and (max-width: 1200px) {

.page-end {
    padding: 25px 5vw
}
  }

.page-end #graph-container {
    background: rgba(255,255,255,.5);
  }

.page-end .backlinks-container li {
    background: rgba(255,255,255,.5);
  }

.outreach {
  color: var(--gray);
  fill: var(--gray);
  font-weight: revert;
  margin: revert;
  padding: 12px 0px;
  text-align: center;
}

.outreach h3 {
    margin-bottom: 0px;
    margin-block-start: 0px;
  }

.iframe-container {
  margin-bottom: 20px;
}

form.formkit-form {
  background: #FEFCF6 !important;
  box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, .05);
}

.formkit-guarantee {
  display: none;
}

.formkit-form {
  background: none !important;
}

.formkit-powered-by-convertkit-container {
  display: none !important;
}

.formkit-form[data-uid="498077a8fd"][min-width~="600"] [data-style="minimal"] {
  padding: 0px 20px 15px 20px !important;
}

.formkit-form[data-uid="498077a8fd"] {
  max-width: 100% !important;
}

.formkit-form h1,
.formkit-form h2,
.formkit-form h3,
.formkit-form h4,
.formkit-form h5 {
  font-weight: 800 !important;
  font-family: "p22-mackinac-pro", serif;
  font-style: normal;
  --tw-text-opacity: 1 !important;
  color: rgb(23 37 84 / var(--tw-text-opacity)) !important;
  font-size: 2.25rem !important;
  line-height: 2.5rem;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

/* ! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

h1 {
  font-size: 1.875rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

h4 {
  font-weight: 700;
}

h5 {
  font-weight: 700;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.\!container {
  width: 100% !important;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {

  .\!container {
    max-width: 640px !important;
  }

  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {

  .\!container {
    max-width: 768px !important;
  }

  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {

  .\!container {
    max-width: 1024px !important;
  }

  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {

  .\!container {
    max-width: 1280px !important;
  }

  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {

  .\!container {
    max-width: 1536px !important;
  }

  .container {
    max-width: 1536px;
  }
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.collapse {
  visibility: collapse;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.right-0 {
  right: 0px;
}

.top-0 {
  top: 0px;
}

.right-2 {
  right: 0.5rem;
}

.right-2\.5 {
  right: 0.625rem;
}

.top-2 {
  top: 0.5rem;
}

.top-2\.5 {
  top: 0.625rem;
}

.right-5 {
  right: 1.25rem;
}

.top-5 {
  top: 1.25rem;
}

.top-3 {
  top: 0.75rem;
}

.float-right {
  float: right;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-2\.5 {
  margin-bottom: 0.625rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.list-item {
  display: list-item;
}

.hidden {
  display: none;
}

.w-9 {
  width: 2.25rem;
}

.shrink {
  flex-shrink: 1;
}

.flex-grow {
  flex-grow: 1;
}

.grow {
  flex-grow: 1;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.list-outside {
  list-style-position: outside;
}

.list-decimal {
  list-style-type: decimal;
}

.list-disc {
  list-style-type: disc;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.whitespace-nowrap {
  white-space: nowrap;
}

.text-balance {
  text-wrap: balance;
}

.text-pretty {
  text-wrap: pretty;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border {
  border-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-2 {
  padding: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-tight {
  line-height: 1.25;
}

.\!leading-tight {
  line-height: 1.25 !important;
}

.\!leading-snug {
  line-height: 1.375 !important;
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline {
  outline-style: solid;
}

.ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-inset {
  --tw-ring-inset: inset;
}

.ring-gray-300 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity));
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

ul {
  list-style-type: disc;
}

a {
  color: var(--secondary);
}

/* Bring back the default margin of lists */

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.card-header {
  text-wrap: balance;
}

article p {
  margin-top: 0px;
}

h1,
h2,

h3,
h4,
h5,
h6,
ol,
ul,
thead {
  --tw-text-opacity: 1;
  color: rgb(63 63 70 / var(--tw-text-opacity));
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
.article-list h1,
.article-list h2,
.article-list h3,
.article-list h4,
.article-list h5,
.article-list h6 {
  line-height: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  text-wrap: balance;
  font-family: "p22-mackinac-pro", serif;
  font-weight: 800;
  font-style: normal;
}

.article-list .article-title {
  font-family: "p22-mackinac-pro", serif;
  font-weight: 800;
  font-style: normal;
}

article h1 {
  text-align: center;
  text-wrap: balance;
  margin-bottom: 0.25rem;
  line-height: 2rem;
}

hr {
  margin-top: 3em;
  margin-bottom: 3em;
}

.hover\:bg-gray-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

@media (min-width: 640px) {

  .sm\:mt-8 {
    margin-top: 2rem;
  }

  .sm\:pt-8 {
    padding-top: 2rem;
  }
}